#---------------------------
# Terraform template
#---------------------------
**/.terraform/*
*.tfstate
*.tfstate.*

#---------------------------
# IntelliJ project files
#---------------------------
.idea
*.iml
out
gen

#---------------------------
# Mac
#---------------------------
.DS_Store

#---------------------------
# AWS meetup
#---------------------------
remote-state.tf